# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
*.tgz
.env
.next
.DS_Store
.idea/
*.iml
node_modules/
docs/.vitepress/cache/
test/.*.env
test/*.yaml
test/*.config.js
test/*.config.ts
/**/*/node_modules/
/**/*/lib/
test/data/
/docs/dist
/docs/.vitepress
/**/kritor/src/generated/
/pnpm-lock.yaml
/test/zhin.db/
/test/zhin.config.yml
