[submodule "vendor/claude-code"]
	path = vendor/claude-code
	url = https://github.com/jarmuine/claude-code.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/zhinjs/plugins.git
[submodule "docs"]
	path = docs
	url = https://github.com/zhinjs/docs.git
[submodule "basic/cli"]
	path = basic/cli
	url = https://github.com/zhinjs/cli.git
[submodule "basic/database"]
	path = basic/database
	url = https://github.com/zhinjs/database.git
[submodule "basic/logger"]
	path = basic/logger
	url = https://github.com/zhinjs/logger.git
[submodule "basic/schema"]
	path = basic/schema
	url = https://github.com/zhinjs/schema.git
[submodule "packages/kernel"]
	path = packages/kernel
	url = https://github.com/zhinjs/kernel.git
[submodule "packages/ai"]
	path = packages/ai
	url = https://github.com/zhinjs/ai.git
[submodule "packages/agent"]
	path = packages/agent
	url = https://github.com/zhinjs/agent.git
[submodule "packages/satori"]
	path = packages/satori
	url = https://github.com/zhinjs/satori.git
[submodule "packages/client"]
	path = packages/client
	url = https://github.com/zhinjs/client.git
[submodule "packages/create-zhin"]
	path = packages/create-zhin
	url = https://github.com/zhinjs/create-zhin.git
