[submodule "vendor/claude-code"]
	path = vendor/claude-code
	url = https://github.com/jarmuine/claude-code.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/zhinjs/plugins.git
[submodule "docs"]
	path = docs
	url = https://github.com/zhinjs/docs.git
