//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
//npm.pkg.github.com/:_authToken=${GITHUB_AUTH_TOKEN}
hoist = true
registry = https://registry.npmmirror.com
@icqqjs:registry = https://npm.pkg.github.com
