{
    "useTabs": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "semi": true,
    "quoteProps": "preserve",
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "requirePragma": true,
    "proseWrap": "always"
}
