{
    "useTabs": false,
    "tabWidth": 4,
    "bracketSpacing": true,
    "semi": true,
    "quoteProps": "preserve",
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "proseWrap": "always",
    "overrides": [
        {
            "files": "*.md",
            "options": { "tabWidth": 2 }
        }
    ]
}
